body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.search-option {
    width: 45%;
    max-width: 400px;
    padding: 20px;
}

.search-container input,
.search-container button {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.search-container input {
    box-sizing: border-box;
}

.search-container button {
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    color: white;
    font-weight: bold;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.book-image {
    width: 40%;
    object-fit: cover;
    border-radius: 4px;
}

.book-details {
    margin-top: 10px;
    text-align: center;
}

.error-message {
    text-align: center;
    color: red;
    font-size: 1.2em;
    margin: 20px;
}

.add-book-btn {
    margin-top: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
}
