<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='add_book.css')}}">
    <title>Add Book</title>
</head>
<body>
    <div class="container">
        <form id="addBookForm" action="{{ url_for('add_book') }}" method="POST">
            <h2>Add Book</h2>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <select id="author" name="author" required>
                    <option value="" selected disabled>Choose Author</option>
                    {% for author in authors %}
                        <option value="{{ author.id }}">{{ author }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="isbn">ISBN:</label>
                <input type="text" id="isbn" name="isbn" required>
            </div>
            <div class="form-group">
                <label for="publication_year">Publication Year:</label>
                <input type="number" id="publication_year" name="publication_year" min="1500" max="2099" required>
            </div>
            <div class="form-group">
                <button type="submit">Add Book</button>
            </div>
        </form>
    </div>

    <!-- Pop-up message containers -->
    <div id="message-container">
        <div id="success-message" class="message success"></div>
        <div id="error-message" class="message error"></div>
    </div>

    <script src="{{ url_for('static', filename='add_book.js') }}"></script>
</body>
</html>
